{
  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,

  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "printWidth": 70,
  "tabWidth": 2
}
